{% extends 'basenormal.html'%}
{% load crispy_forms_tags %}
{% block content %}

{{block.super}}
<style>
   body{
        background-color: darkgray;
        padding-top: 100px;
    
    }
    .btn:hover{
        background-color:#14110f ;
        color:  #ffda22;
    }
    .btn:active{
        background-color:#14110f ;
        color:  #ffda22;
    }
    .book{
        padding: 40px;
    }

    .inn{
        background-image: url(../../static/images/book.jpg);
        background-size: cover;
        height: 300px;
    }
    .modal-content{
      background-color: blanchedalmond;
    }
    .modal-header{
      background-color: #003F91;
    }
</style>

    <div class="container-fluid">
        <div class="row">
            <div class="book col-md-6">
              <p>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
                Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
                Lorem ipsum Lorem ipsum Lorem ipsum
              </p>
                <button type="button" class="btn btn-md" data-toggle="modal" data-target="#ModalCenter">
                   <b>make reservation</b> 
                  </button>
                <div class="modal fade" id="ModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">reservations</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form action="" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              {{form|crispy}}
                <div class="form-group">
                 
                  <input type="submit" class="btn btn-md " value="reserve">
                </div>
            </form>
        </div>
       
      </div>
    </div>
  </div>
            </div>
            <div class="inn col-md-6">
               
            </div>
        </div>
        
    </div>

{% endblock %}
