<style>
   .footer{
       background-color:  blanchedalmond;
       padding: 50px;
   }
    .copy{
        text-align: center;
        padding: 50px;
    }
   .input{
       border-bottom: 1px solid black;
       width: 25em;

   }
</style>
<div class="container-fluid">
    <div class="footer row">
        <div class="col-md-6">
            <h2><b>Keep upto date with us</b></h2>
            <p>Sign up to be the first to receive news and event updates from us</p>
        </div>
        <div class="col-md-6">
            <!-- Adding a subscription form  -->
      <div class=" col-md-5">
    

        <form id="search" class="navbar-form " role="search" action="">

          <div class="input-group">
            <input type="email" class="input text-center" placeholder="Email Address*" name="query">
            <button type="submit" class="btn btn-md"><b>subscribe</b></button>
          </div>

        </form>

      </div>
       <!-- search form end -->
            
        </div>
       
    </div>
   
        <div class="copy row">
            <div class="col-md-12">
           <h4>COMPANY NAME 2021 &copy; ALL RIGHTS RESERVED</h4>
           </div> 
        </div>
       
</div>
