{% extends 'base.html'%}

{% block content %}


{{block.super}}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
   
   
    body, html {
  height: 100%;
}
    body{
        background-color: darkgray;
      
       
    }
    #drinks{
    margin-top: 10px;
    padding-bottom: 10px;  
    }
    #meals{
    margin-top: 10px; 
    padding-bottom: 10px;
}

    .item{
        text-align: center;
    }
    #menu{
        text-align: center;
    }
    .item img
    { height: 100px;
      width: 100px;
      margin: 20px;}
   
    .btn:hover{
        background-color:#251605 ;
        color:  #ffda22;
    }
    .btn.active{
        background-color:#251605 ;
        color:  #ffda22;
    }
    .name{
        padding: 20px;
        text-align: center;
    }
    .price{
        padding: 20px;
        text-align: center;
    }
    .about{
       
        background-image: url(../../static/images/salama.jpg);
        height:500px;
        text-align: center;
        max-width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-bottom: 2px solid black;
        
        
    }
    .aboutt{
        background-image: url(../../static/images/salama2.jpg);
        height: 500px;
        text-align: center;
        max-width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-bottom: 2px solid black;
        
    }
    .abouttt{
        background-image: url(../../static/images/salama4.jpg);
        height: 500px;
        text-align: center;
        max-width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-bottom: 2px solid black;
        
    }
    .words{
        padding: 20px;
    }
    
    a{
        text-decoration: none;
        color: #251605;
        font-weight: bold;

    }
    a:hover{
        text-decoration: none;
        background-color: #251605;
        color:  #ffda22;
    }
   .tabs{
        
       margin-top: 30px;
       text-align: right;
       padding-right: 30px;
       z-index: 998;
       
   }
   .tabs a{
        
        text-decoration: none;
        background-color: #251605;
        color:  #ffda22;
        border: 2px solid  #ffda22;
   }
   .tabs a:hover{
        font-weight: bold;
        text-decoration: none;
        background-color: #003F91;
        color:  #ffda22;
        border: 2px solid  #ffda22;
   }
   ul li{
       text-align: center;
   }
   .details{
       padding: 10px;
   }
   .details p{
       padding: 20px;
   }
   .topic{
        font-family: 'Bungee Shade', cursive;
       margin-top: 150px;
       text-transform: capitalize;
       font-weight: bold;
       font-size: 50px;
       color: black;
   }
   .tab-content{
      
   }
   
</style>

    <div class="container-fluid">
        <div id="carouselExampleSlidesOnly" class="carousel slide row" data-ride="carousel">
            <div class="carousel-inner">
              <div class="about carousel-item active">
                
                <div class="tabs col-md-12">
                    <a class="btn btn-md" href="#menu">VIEW MENU</a>
                    <a class="btn btn-md" href="{% url 'accomodation' %}">RESERVATIONS</a>
                </div>
                <br><br>
                <div class="topic">
                    Serenity
                </div>
              </div>
              <div class="aboutt carousel-item">
                
                <div class="tabs col-md-12">
                    <a class="btn btn-md" href="#menu">VIEW MENU</a>
                    <a class="btn btn-md" href="{% url 'accomodation' %}">RESERVATIONS</a>
                </div>
                <div class="topic">
                    Fun
                </div>
              </div>
              <div class="abouttt carousel-item">
                
                <div class="tabs col-md-12">
                    <a class="btn btn-md" href="#menu">VIEW MENU</a>
                    <a class="btn btn-md" href="{% url 'accomodation' %}">RESERVATIONS</a>
                </div>
                <div class="topic">
                    Luxury
                </div>
              </div>
            </div>
          </div>
       
       
    <div class="details">
        
    <div id="menu">
        <br><br>
        <h3 class="text-center">MENU</h3>
        <p>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
            Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
            Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum.
        </p>
       
    <ul class="nav nav-tabs"> 
        <li > 
            <a class="btn btn-md" data-toggle="tab" 
            href="#drinks">Drinks</a> 
        </li> 
    
        <li><a class="btn btn-md" data-toggle="tab" 
            href="#meals">Meals</a> 
        </li> 
    </ul> 
   
    
      

    <div class="tab-content"> 
        <div id="drinks" class= 
            "tab-pane fade "> 
            <h3>DRINKS</h3> 
            <div class="row">
           {% for item in drinks %}
           
           
         
            <div class="item">
                
                    <div class="col-md-4">
                        
                        <img src="{{item.image.url}}" alt="">
                        <b>{{item.name}}</b><br>
                        <i>{{item.price}} kshs</i>
                      
                    </div>
                
            </div>
            
           {% endfor %}
            </div>
        </div> 
       
       
        <div id="meals" class="tab-pane fade"> 
            <h3>MEALS</h3> 
              
            <div class="row">
                {% for item in meals %}
                
                
              
                 <div class="item">
                     
                         <div class="col-md-4">
                             <img src="{{item.image.url}}" alt="">
                             <b>{{item.name}}</b><br>
                             <i>{{item.price}} kshs</i>
                             
                         </div>
                     
                 </div>
                 
                {% endfor %}
                 </div>

        </div> 
    </div> 
    </div>
    </div>
    </div>
</div> 
<script>
    //browse buttons
 
</script>
{% endblock %}
